<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
 "http://mybatis.org/dtd/mybatis-3-config.dtd"> 
  <!-- 标签为根节点，在此标签里面的信息是配置信息-->
 <configuration>
 <!-- 给类取别名 -->
 	<typeAliases>
 	<!--这里给实体类取别名，方便在mapper配置文件中使用--> 
 	<package name="com.ssm.pojo"/>
 	</typeAliases>
 </configuration>